@import '../../styles/global.scss';

.headerNavigation {
  font-family: "Roboto", sans-serif;
  margin-left: 80px;

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li + li {
      margin-left: 64px;
    }
  }

  a {
    text-decoration: none;
    color: var(--text-primary);
    transition: 0.25s;

    &:hover {
      color: var(--brand-red);
    }
  }
}
